# Pandas Data Analysis part 1: Series

In this project, we would like to create a portfolio of 3 cryptocurrencies ( BTC, ETH, and ADA ) and 3 stocks ( AMZN, TSLA, and AAPL ). Using Pandas, perform the following:
Part A:
1. Using Yahoo Finance, search for the current closing price of the aforementioned list of cryptos and stocks. 
2. Create a Python dictionary that lists the ticker symbol ( Keys ) and prices ( values ). 
3. Create a Pandas Series from a dictionary to show the cryptos/stocks ticker symbols and their corresponding prices. 
4. Assume that you have the following number of assets in your portfolio : BTC = 3 , ETH = 10 , ADA = 1000 , AMZN = 20 , TSLA = 20 , AAPL = 5. Create a new Pandas series that contains these number of securities. Use the ticker symbols as the Pandas series labels. 
5.  Multiply the number of securities by the price of each security. Calculate the total value of the portfolio including all securities.

PART B: 
Using the "S & P500_Prices.csv ", perform the following: 
1. Using Pandas, read the CSV file into Pandas DataFrame. Check the data type. 
2. Using Pandas, read the CSV file into a Pandas Series. Check the data type. 
3. Obtain the maximum, minimum, and average values of the S & P500. 
4. Sort the Pandas Series in ascending and descending order. Enforce the change in memory. 
5. Use describe ( ) method to obtain a statistical summary of S & P500. What is the standard deviation? 
6. With and without rounding the series to the nearest integer, search for the price 3349.

In [1]:
# Import key libraries
import pandas as pd
import numpy as np

In [2]:
# Define a portfolio dictionary containing 3 stocks and 3 crypto
portfolio = {'BTC':  23049,
             'ETH':  1635,
             'ADA':  1,
             'AAPL': 156,
             'TSLA': 776, 
             'AMZN': 114}
print(portfolio)

{'BTC': 23049, 'ETH': 1635, 'ADA': 1, 'AAPL': 156, 'TSLA': 776, 'AMZN': 114}

In [3]:
# Define a Pandas Series Using the dictionary
my_portfolio_series = pd.Series(portfolio)
my_portfolio_series

BTC     23049
ETH      1635
ADA         1
AAPL      156
TSLA      776
AMZN      114
dtype: int64

In [4]:
# Define another Pandas series containing the number of securities 
number_securities = pd.Series(data = [3, 10, 1000, 5, 20, 20],  index = ['BTC', 'ETH', 'ADA', 'AAPL', 'TSLA', 'AMZN'])
number_securities

BTC        3
ETH       10
ADA     1000
AAPL       5
TSLA      20
AMZN      20
dtype: int64

In [5]:
# Multiply Pandas Series instances
Total_dollar_value = my_portfolio_series.mul(number_securities);
print(Total_dollar_value)

BTC     69147
ETH     16350
ADA      1000
AAPL      780
TSLA    15520
AMZN     2280
dtype: int64

In [6]:
print('Total portfolio Value = ${}'.format(Total_dollar_value.sum()))

Total portfolio Value = $105077

# Part B

In [7]:
# Pandas read_csv is used to read a csv file and store data in a DataFrame by default.
# Use Squeeze to convert it into a Pandas Series (One-dimensional)
# Notice that no foramtting exists when a Series is plotted
sp500 = pd.read_csv('Pandas Data Analysis part 1_Series.csv')
sp500

            sp500
0     1295.500000
1     1289.089966
2     1293.670044
3     1308.040039
4     1314.500000
...           ...
2154  3327.770020
2155  3349.159912
2156  3351.280029
2157  3360.469971
2158  3333.689941

[2159 rows x 1 columns]

In [8]:
# Pandas read_csv is used to read a csv file and store data in a DataFrame by default.
# Use Squeeze to convert it into a Pandas Series (One-dimensional)
# Notice that no foramtting exists when a Series is plotted
sp500 = pd.read_csv('Pandas Data Analysis part 1_Series.csv', squeeze = True)
sp500

0       1295.500000
1       1289.089966
2       1293.670044
3       1308.040039
4       1314.500000
           ...
2154    3327.770020
2155    3349.159912
2156    3351.280029
2157    3360.469971
2158    3333.689941
Name: sp500, Length: 2159, dtype: float64

In [9]:
# Obtain the Data Type of the Pandas Series
type(sp500)

pandas.core.series.Series

In [10]:
# Obtain the length of the Pandas Series
len(sp500)

2159

In [11]:
# Obtain the maximum value of the Pandas Series
max(sp500)

3386.149902

In [12]:
# Obtain the minimum value of the Pandas Series
min(sp500)

1278.040039

In [13]:
# Set inplace = True to ensure that change has taken place in memory 
sp500.sort_values(inplace = True) 
sp500

97      1278.040039
98      1278.180054
99      1285.500000
1       1289.089966
2       1293.670044
           ...
2038    3373.229980
2034    3373.939941
2033    3379.449951
2035    3380.159912
2037    3386.149902
Name: sp500, Length: 2159, dtype: float64

In [14]:
# Notice that the indexes are now changed 
# You can also sort by index (revert back to the original Pandas Series) as follows: 
sp500.sort_index(inplace = True)
sp500

0       1295.500000
1       1289.089966
2       1293.670044
3       1308.040039
4       1314.500000
           ...
2154    3327.770020
2155    3349.159912
2156    3351.280029
2157    3360.469971
2158    3333.689941
Name: sp500, Length: 2159, dtype: float64

In [15]:
sp500.sort_values(ascending = False, inplace = True) 
sp500

2037    3386.149902
2035    3380.159912
2033    3379.449951
2034    3373.939941
2038    3373.229980
           ...
2       1293.670044
1       1289.089966
99      1285.500000
98      1278.180054
97      1278.040039
Name: sp500, Length: 2159, dtype: float64

In [16]:
# Obtain the average - Solution #1
print(sp500.sum()/sp500.count())

# Obtain the average - Solution #s
print(sp500.mean())

2218.7495540592868
2218.749554059287

In [17]:
# My favourite: Describe! 
# Describe is used to obtain all statistical information in one place 
sp500.describe()

count    2159.000000
mean     2218.749554
std       537.321727
min      1278.040039
25%      1847.984985
50%      2106.629883
75%      2705.810059
max      3386.149902
Name: sp500, dtype: float64

In [18]:
3349 in sp500.values

False

In [19]:
sp500 = round(sp500)
sp500

2037    3386.0
2035    3380.0
2033    3379.0
2034    3374.0
2038    3373.0
         ...
2       1294.0
1       1289.0
99      1286.0
98      1278.0
97      1278.0
Name: sp500, Length: 2159, dtype: float64

In [20]:
3349 in sp500.values

True